<h2>Sign up</h2>
<p>Use one of yours accounts on</p>
<div id="remote2">
    <%= render :partial => 'shared/socials' %>
</div>
<p>or create new account</p>
<div id="local2" class="box">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <p><%= f.label :login %><br />
      <%= f.text_field :login %></p>

      <p><%= f.label :fullname %><br />
      <%= f.text_field :fullname %></p>

      <p><%= f.label :email %><br />
      <%= f.text_field :email %></p>

      <p><%= f.label :password %><br />
      <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></p>

      <p><%= recaptcha_tags %></p>

      <p><%= f.submit "Sign up" %></p>
    <% end %>
</div>

<div id="devise_links">
    <%= render :partial => "devise/shared/links" %>
</div>
